---
layout: default
---
<div class="home">
  <h1>{{site.data.main.title}}</h1>
  <div class="casinos_grid">
    {% assign title = site.data.main.casinos_header %}
    {% assign casinos = site.data.main.casinos | sort: "order" %}
    {% assign i = 1 %}
    {% for casino in casinos %}
    <div class="casino casino_item">
      <a href="{{casino.link}}" class="icon"><img src="{{casino.icon}}" alt="casino"></a>
      <h2 class="casino_title"><a href="{{casino.link}}">{{i}}. {{casino.title}}</a></h2>
      <div class="services">
        <p>{{casino.services}}</p>
      </div>
      <div class="lang">
        <h3>{{title[2]}} <i class="fas fa-{{casino.support.icon}}"></i></h3>
        <p>{{casino.languages.list}}</p>
      </div>
      <div class="support">
        <h3>{{title[3]}} <i class="fas fa-{{casino.support.icon}}"></i></h3>
        <p>{{casino.support.descr}}</p>
      </div>
      <div class="bcd_raiting">
        <h3>{{title[4]}}: {{casino.bcd_raiting.value}}%</h3>
        <p>{{casino.bcd_raiting.descr}}</p>
      </div>
      <div class="max_bonus">
        <h3>{{title[5]}}:</h3>
        <p>{{casino.max_bonus.value}}</p>
        <p>{{casino.max_bonus.descr}}</p>
      </div>
      <div class="provably_fair">
        <h3>{{title[6]}} <i class="fas fa-{{casino.provably_fair.icon}}"></i></h3>
        <p>{{casino.provably_fair.descr}}</p>
      </div>
      <div class="auszahlung">
        <h3>{{title[7]}}</h3>
        {% for currency in casino.auszahlung.currency %}
        {% if currency.item == "btc" %}
        <i class="fab fa-{{currency.item}}"></i>
        {% else %}
        <i class="fas fa-{{currency.item}}-sign"></i>
        {% endif %}
        {% endfor %}
        <p>{{casino.auszahlung.descr}}</p>
      </div>
            <a href="{{casino.link}}" class="join">Try now</a>
    </div>
    {% assign i = i | plus: 1 %}
    {% endfor %}
  </div>


  <section class="reviews">
    <h2>{{site.data.main.review_title}}</h2>
    <ul class="casino_list">
      {% assign reviews = site.pages | where: "layout", "casino" %}
      {%- for file in reviews -%}
      {% if file.tags contains 'pocker' %}
      {% else %}
      <li>
        <h3><a href="{{file.permalink}}">{{file.title}}</a></h3>
        <p>{{ file.content | strip_html | truncatewords:40 }}</p>
      </li>
      {% endif %}
      {%- endfor -%}
    </ul>
  </section>

  <h2>{{site.data.main.platform_title}}</h2>
  <p>{{site.data.main.platform_descr}}</p>
  <ul>
    {%- for file in reviews -%}
    {% if file.tags contains 'pocker' %}
    <li><a href="{{file.permalink}}">{{file.title}}</a></li>
    {% endif %}
    {%- endfor -%}
  </ul>

  <h2>{{site.data.main.news_title}}</h2>
  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h3>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h3>
    </li>
    {% endfor %}
  </ul>

</div>