---
layout: default
---
<div class="home">
  <h1>{{site.data.main.title}}</h1>
  <div class="casinos_grid">
    {% assign title = site.data.main.casinos_header %}
    {% assign casinos = site.data.main.casinos | sort: "order" %}
    {% assign counter = 1 %}
    {% for casino in casinos %}
    <div class="casino casino_item">
      <h2 class="casino_title"><a href="{{casino.link}}">{{casino.title}}</a></h2>
      <a href="{{casino.link}}" class="icon"><img src="{{casino.icon}}" alt="casino"></a>
      <div class="services">
        <p>{{casino.services}}</p>
      </div>
      <div class="lang">
        <h3>{{title[2].item}} <i class="fas fa-{{casino.support.icon}}"></i></h3>
        <p>{{casino.languages.list}}</p>
      </div>
      <div class="support">
        <h3>{{title[3].item}} <i class="fas fa-{{casino.support.icon}}"></i></h3>
        <p>{{casino.support.descr}}</p>
      </div>
      <div class="bcd_raiting">
        <h3>{{title[4].item}}: {{casino.bcd_raiting.value}}%</h3>
        <p>{{casino.bcd_raiting.descr}}</p>
      </div>
      <div class="max_bonus">
        <h3>{{title[5].item}}:</h3>
        <p>{{casino.max_bonus.value}}</p>
        <p>{{casino.max_bonus.descr}}</p>
      </div>
      <div class="provably_fair">
        <h3>{{title[6].item}} <i class="fas fa-{{casino.provably_fair.icon}}"></i></h3>
        <p>{{casino.provably_fair.descr}}</p>
      </div>
      <div class="auszahlung">
        <h3>{{title[7].item}}</h3>
        {% for currency in casino.auszahlung.currency %}
        {% if currency.item == "btc" %}
        <i class="fab fa-{{currency.item}}"></i>
        {% else %}
        <i class="fas fa-{{currency.item}}-sign"></i>
        {% endif %}
        {% endfor %}
        <p>{{casino.auszahlung.descr}}</p>
      </div>
            <a href="{{casino.link}}" class="join">Try now</a>
    </div>
    {% if counter < 5 %}
    {% assign counter = counter | plus: 1 %}
    {% else %}
    {% assign counter = 1 %}
    {% endif %}
    {% endfor %}
  </div>


  <section class="reviews">
    <h2>Testberichte:</h2>
    <ul class="casino_list">
      {% assign reviews = site.pages | where: "layout", "casino" %}
      {%- for file in reviews -%}
      {% if file.tags contains 'pocker' %}
      {% else %}
      <li><a href="{{file.permalink}}">{{file.title}}</a></li>
      {% endif %}
      {%- endfor -%}
    </ul>
  </section>

  <h2>Bitcoin-Poker-Plattformen</h2>
  <p>Der einzige <strong>BTC-Pokerraum-Anbieter</strong>, den wir aktuell mit gutem Gewissen empfehlen können:</p>
  <ul>
    {%- for file in reviews -%}
    {% if file.tags contains 'pocker' %}
    <li><a href="{{file.permalink}}">{{file.title}}</a></li>
    {% endif %}
    {%- endfor -%}
  </ul>
  {{site.tags.pocker}}

  <h2>Bitcoin-Casino-News:</h2>

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

</div>