---
layout: default
---
<div class="home">
  <h4>{{site.data.main.title}}</h4>
  <div class="casinos_grid">
    <div class="casino casinos_header">
      {% for title in site.data.main.casinos_header %}
      <h5>{{title.item}}</h5>
      {% endfor %}
    </div>
    {% assign casinos = site.data.main.casinos %}
    {% for casino in casinos %}
    <div class="casino casino_item">
      <a href="{{casino.link}}" class="icon"><img src="{{casino.icon}}" alt="casino"></a>
      <div class="services">
        <h4><a href="{{casino.link}}">{{casino.casino}}</a></h4>
        <p>{{casino.services}}</p>
      </div>
      <div class="lang">
        <span class="glyphicon glyphicon-{{casino.languages.icon}}" aria-hidden="true"></span>
        <p>{{casino.languages.list}}</p>
      </div>
      <div class="support">
        <span class="glyphicon glyphicon-{{casino.support.icon}}" aria-hidden="true"></span>
        <p>{{casino.support.descr}}</p>
      </div>
      <div class="bcd_raiting">
        <p>{{casino.bcd_raiting.value}}%</p>
        <p>{{casino.bcd_raiting.descr}}</p>
      </div>
      <div class="max_bonus">
        <p>{{casino.max_bonus.value}} BTC</p>
        <p>{{casino.max_bonus.descr}}</p>
      </div>
      <div class="provably_fair">
        <span class="glyphicon glyphicon-{{casino.provably_fair.icon}}" aria-hidden="true"></span>
        <p>{{casino.provably_fair.descr}}</p>
      </div>
      <div class="auszahlung">
        {% for currency in casino.auszahlung.currency %}
        <span class="glyphicon glyphicon-{{currency.item}}" aria-hidden="true"></span>
        {% endfor %}
        <p>{{casino.auszahlung.descr}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
<hr>
<section class="reviews">
<h4>Testberichte:</h4>
<ul>
{% assign reviews = site.pages | where: "layout", "casino" %}
{%- for file in reviews -%}
<li>+++ <a href="{{file.permalink}}">{{file.title}}</a></li>
{%- endfor -%}

<hr>
  <li><a href="http://bitcoincasinodeutsch.de/1xbit-erfahrungen-test-betrug-oder-serios/">1xBit</a></li>
 	<li><a href="http://bitcoincasinodeutsch.de/bitcasino-io-erfahrungen-test-betrug-oder-serios/">Bitcasino.io</a></li>
  	<li><a href="http://bitcoincasinodeutsch.de/betchain-erfahrungen-test-betrug-oder-serios/">Betchain</a></li>
 	<li><a href="http://bitcoincasinodeutsch.de/cloudbet-erfahrungen-test-betrug-oder-serios/">Cloudbet</a></li>
</ul>
</section>

<h4>Bitcoin-Poker-Plattformen</h4>
Der einzige <strong>BTC-Pokerraum-Anbieter</strong>, den wir aktuell mit gutem Gewissen empfehlen können:
<ul>
 	<li><a href="http://bitcoincasinodeutsch.de/betcoin-ag-btc-poker-erfahrungen-betrug-abzocke-oder-serios/">Betcoin.ag</a></li>
</ul>
  
    <h2 class="page-heading">Bitcoin-Casino-News:</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
