h1 {
  font-weight: 800;
  font-size: 4em;
  color: darkslateblue;
}
h2 {
  font-weight: 700;
  font-size: 1.8em;
}
ul {
  list-style-type: none;
  font-size: 1.5em;
}
.casinos_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.casino {
  display: grid;
  grid-template-columns: 1fr;
  * {
    margin-bottom: 5px;
  }
  & > * {
    padding: 2px 10px;
  }
  .casino_title {
    grid-column: 1/3;
    z-index: 5;
    a {
      font-size: 2.5em;
      color: cornflowerblue;
      &:hover {
        color: #20e20e;
      }
    }
  }
  .join {
    display: block;
    height: max-content;
    width: max-content;
    background: #e40b0b;
    font-size: 1.1em;
    line-height: 1;
    font-weight: 600;
    text-shadow: none;
    color: cyan;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 20px;

    &:hover {
      background: #b42121;
      text-decoration: none;
      color: #b5b1eb;
    }
  }
}
.casinos_header {
  background: #000;
  position: sticky;
  top: 160px;
  z-index: 5;
  h5 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
    a {
      &:hover {
        color: yellow;
        text-decoration: none;
      }
    }
  }
}
.casino_item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: difference;
  border-image-width: 100%;
  &:hover {
    background-blend-mode: hard-light;
  }
  &:nth-child(n) {
    background-image: linear-gradient(rgba(5, 5, 36, 0.5), rgba(61, 18, 22, 0.6)), url("../images/bg/1.png");
  }
  &:nth-child(2n) {
    background-image: linear-gradient(rgba(5, 5, 36, 0.5), rgba(61, 18, 22, 0.6)), url("../images/bg/2.png");
  }
  &:nth-child(3n) {
    background-image: linear-gradient(rgba(5, 5, 36, 0.5), rgba(61, 18, 22, 0.6)), url("../images/bg/3.png");
  }
  &:nth-child(4n) {
    background-image: linear-gradient(rgba(5, 5, 36, 0.5), rgba(61, 18, 22, 0.6)), url("../images/bg/4.png");
  }
  &:nth-child(5n) {
    background-image: linear-gradient(rgba(5, 5, 36, 0.5), rgba(61, 18, 22, 0.6)), url("../images/bg/5.png");
  }
  * {
    color: #eee;
    text-shadow: 2px 7px 4px #000;
    z-index: 1;
    font-size: 1em;
    line-height: 1.1;
  }
  h3,
  h3 a {
    font-size: 20px;
    color: rgb(184, 240, 167);
  }
  .icon {
    grid-row: 8;
  }
  img {
    width: 100%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.6;
  }
}

.reviews {
  margin: 20px auto;
  .casino_list {
    display: flex;
    flex-wrap: wrap;
    justify-items: auto;
    align-content: space-between;
    a {
      padding: 10px 20px;
    }
  }
}

// media queries
@media screen and (max-width: 1440px) {
  .casinos_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .casinos_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  .casinos_grid {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media screen and (max-width: 414px) {
  .casinos_grid {
    gap: 5px;
  }
  .casino_item {
    grid-template-columns: 1fr;
    .casino_title {
      grid-column: 1;
    }
  }
  .site-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5 {
    text-align: center;
    padding: 5px 10px;
  }
  a {
    display: block;
    margin: 10px auto;
  }
  .footer-col * {
    padding: 0 10px;
  }
}
