 h1 {
   font-weight: 800;
   font-size: 2.2em;
 }
 h2 {
   font-weight: 700;
   font-size: 1.8em;
 }
 ul {
    list-style-type: none;
    font-size: 1.5em;
  }
.casino {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
  &>* {
    padding: 10px;
  }
}
.casinos_header {
  background: #000;
  h5 {
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
  }
}
.casino_item {
  background: #efefef;
}
.casino_item:nth-child(odd){
  background: #f7f7f7;
}
.reviews {
  margin: 20px auto;
}
